*{
    margin:0;
    padding:0;
}
header{
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('dog.jpg');
      height:100vh;
      background-size: cover;
      background-position: center;
}
.nav-menu{
    float: right;
    margin:30px;
    list-style:nine;
}
.nav-menu li{
    display: inline-block;
}

.nav-menu li a {
    color: deepskyblue;
    font-size:20px;
    padding:5px 20px ;
    font-family: Verdana;
}

.navbtn{
    border: 1px solid grey;
    background-color: aliceblue
}

.nav-menu li a:hover{
    background-color: aliceblue;
    border :1px solid grey;
}

.tagline{
     position: absolute;
     margin-left: 0;
     margin-top: 0;
     width:800px;


}

h1{
    color: white;
    font-size:35x;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin-top: 300px;
    text-align: center;
}

.adopt{
    margin-top: 30px;
    margin-left: 500px;
}

.btn{
    color: yellowgreen;
    border:2px solid white;
    padding: 10px;
    font-size: 25px;
    text-decoration: none; 
}